*{
    padding: 0;
    margin: 0;
}
.container{
    text-align: center;
}
h1,h2{
    margin-top: 10px;
    margin-bottom: 5px;
    background-image:linear-gradient(to right, #819ff9 40%,#f99b45 60%);
    color: transparent;
    background-clip: text;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 1.4rem;
}
p{
    text-align: end;
    margin-right: 20px;
    background-image:linear-gradient(to right, #819ff9 40%,#f99b45 60%);
    color: transparent;
    background-clip: text;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boxs{
    justify-content: center;
    display: flex;
}
.red,.green,.blue,.yellow{
    height: 200px;width: 200px;
    border:5px solid black ;
    margin: 20px;
    border-radius: 20px;
}
.red{
    background-color:#d95980;
}
.green{
    background-color: #63aac0;
}
.blue{
    background-color: #819ff9;
}
.yellow{
    background-color: #f99b45;
}

.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    text-align: center;
    transform:  translateY(-50%);
}
.btn-grad {
   margin: 20px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s ease-in-out;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #454545;
   border-radius: 20px;
   display: inline-block;
   border: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
.blink{
    background-color: white;
}